/* ui/components/CalendarComponent.css */

/* ui/components/CalendarComponent.css */

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar {
  width: 100%;

  border: 1px solid #ccc; /* ✅ Borde externo */
  border-radius: 8px; /* ✅ Bordes redondeados */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); /* ✅ Sombra suave opcional */
  padding: 1rem; /* ✅ Espaciado interno */
  background-color: #fff;
}

.react-calendar__month-view__days {
  border-collapse: separate !important;
  border-spacing: 0px; /* Separación entre celdas */
}

/* Borde en cada celda siempre */
.react-calendar__tile {
  position: relative; /* Necesario para alinear el número */
  padding: 0.75rem 0.25rem;
  border: 0.3px solid #e9e5e6 !important;
  border-radius: 0px;
  background-color: white;
  min-height: 80px;
  transition: background-color 0.2s, border-color 0.2s;
}

.react-calendar__tile > abbr {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  position: absolute;
  top: 6px;
  left: 8px;
}

/* Hover con color corporativo */
.react-calendar__tile:enabled:hover {
  background-color: #fef2f3;
  border-color: #930f21;
  cursor: pointer;
}

/* Día seleccionado (por defecto react-calendar usa un fondo azul) */
.react-calendar__tile--active {
  background: #930f21 !important;
  color: white !important;
  border-color: #930f21 !important;
}

/* Día de hoy (opcional) */
.react-calendar__tile--now {
  background: #f2e1d5 !important;
  border-color: #999;
  color: #000 !important;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: #930f21;
  border-radius: 50%;
  margin: 2px auto 0;
}

.tile-visits {
  margin-top: 1.2rem; /* separación respecto al número del día */
  padding-left: 8px;
  padding-right: 4px;
  text-align: left;
}

.tile-visit-item {
  font-size: 12px;

  padding: 2px 0;
  border-top: 1px solid #c9aaaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tile-visit-item:first-child {
  border-top: none;
}

.react-calendar__tile--active abbr {
  color: white !important;
}
/* Visitas en día activo (seleccionado) */
.react-calendar__tile--active .tile-visit-item {
  color: white;
}

/* Visitas en días normales */
.tile-visit-item {
  color: #000;
}
.tile-visit-item:hover {
  background-color: rgba(147, 15, 33, 0.1); /* Fondo sutil en hover */
  text-decoration: underline;
  cursor: pointer;
}

.react-calendar__navigation__label__labelText {
  font-weight: bold;
  color: #333;
  font-size: 18px;
}

/* Asegurar que el número del día de hoy sea negro */
.react-calendar__tile--now abbr {
  color: #000 !important;
}

/* Evitar que el abbr del día actual se vuelva blanco si también está seleccionado */
.react-calendar__tile--now.react-calendar__tile--active abbr {
  color: #000 !important;
}
