.card-title-custom {
  text-transform: uppercase;
  font-weight: 600;
  color: #970c1f;
}

h1.card-title-custom {
  font-size: 2rem;
}

h2.card-title-custom {
  font-size: 1.75rem;
}

h3.card-title-custom {
  font-size: 1.5rem;
}

h4.card-title-custom {
  font-size: 1.25rem;
}

h5.card-title-custom {
  font-size: 1rem;
}

h6.card-title-custom {
  font-size: 0.875rem;
}

.topper-card {
  background-color: #970c1f;
  color: #ffffff !important;
  padding: 8px;
}
