@use "bootstrap/scss/bootstrap" as *;
@use "./login.scss";
@use "./layout.scss";
@use "./menu.scss";
@use "./dark.scss"; // @use "./light.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
}

html,
body {
  font-family: "Open Sans", sans-serif;

  font-style: normal;

  padding: 0px;
  margin: 0px;
  font-variation-settings: "wdth" 100;
}

.breadcrumb-link {
  color: #000000;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: #000000;
  }
}

.custom-hover:hover {
  background-color: #f8d6e3 !important;
}

.btn-custom-link {
  color: #000000;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #000000;
  }
}

.custom-input-flat {
  border-radius: 0 !important; // Quita los bordes redondeados
  background-color: #ebedf0 !important; // Color de fondo especificado
}

// Aplica la clase a form-control y form-select
.form-control.custom-input-flat,
.form-select.custom-input-flat {
  border-radius: 0 !important;
  padding: 6px;
  font-size: 13px;
  background-color: #ebedf0 !important;
}
